@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/src/assets/fonts/rooberttrial-bold-webfont.woff2') format('woff2'),
      url('/src/assets/fonts/rooberttrial-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/src/assets/fonts/rooberttrial-bold-webfont.woff2') format('woff2'),
      url('/src/assets/fonts/rooberttrial-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/src/assets/fonts/rooberttrial-bold-webfont.woff2') format('woff2'),
      url('/src/assets/fonts/rooberttrial-bold-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/src/assets/fonts/rooberttrial-bold-webfont.woff2') format('woff2'),
      url('/src/assets/fonts/rooberttrial-bold-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}


@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/src/assets/fonts/rooberttrial-bold-webfont.woff2') format('woff2'),
      url('/src/assets/fonts/rooberttrial-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/src/assets/fonts/rooberttrial-bold-webfont.woff2') format('woff2'),
      url('/src/assets/fonts/rooberttrial-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}